<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">{{header.title}}</h1>
            <p class="lead fw-normal text-white-50 mb-0">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat quae ea velit quisquam, labore qui vel rem assumenda. Totam eos libero qui. Veritatis sint tempora architecto cum et, alias ad!
            </p>
        </div>
    </div>
</header>